<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorio Simulation GET Requests</title>
    <style>
        th {
            text-align: left;
            padding: 0 10px;
        }
        td {
            padding: 0 10px;
        }
    </style>
  
</head>
<body>
    <h1>Factory Dashboard</h1>
    <p>Running on <a href="http://www.github.com/caseploeg/factorio-cli/commit/{{commit_hash}}">{{commit_hash}}</a></p>
    <div id="table">
    <table>
        <thead> <!-- Table header section -->
            <tr> <!-- Table row for header -->
              <th>Item</th> <!-- Table header cell -->
              <th>Actual</th>
              <th>Potential</th>
              <th>Inventory</th>
              <th>Limit</th>
           </tr>
        </thead>
        <tbody id="prod_tablebody">
        </tbody>
    </table>
    </div>
</body>

<script>
    // Function to create a table from the event data
    function createTableFromEvent(data) {
        // Create table element
        // TODO: filter: bottleneck, 
        // Iterate over each row in the data
        table = document.getElementById('prod_tablebody');
        while (table.firstChild) {
            table.removeChild(table.firstChild);
        }
        data.forEach(row => {
            // Create a new row in the table
            const tr = document.createElement('tr');

            // Iterate over each cell in the row
            row.forEach(cell => {
                // Create a new cell and add the text content
                const td = document.createElement('td');
                td.textContent = cell;
                tr.appendChild(td);  // Append the cell to the row
            });

            table.appendChild(tr);  // Append the row to the table
        });
    }
    var source = new EventSource('/ping')
    source.onmessage = function(event) {
        data = JSON.parse(event.data);
        createTableFromEvent(data);
    };
</script>


</html>
